* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(223, 71, 231);
}

a:hover {
    color: rgba(223, 71, 231, 0.35);
}

button,
.btn {
    cursor: pointer;
}

button:hover,
.btn:hover {
    background: rgba(223, 71, 231, 0.35);
}

input {
    cursor: text;
}

.login-title,
.register-title {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title h1,
.login-title h5,
.register-title h1,
.register-title h5 {
    margin: 20px 0;
}

.row {
    justify-content: center;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    float: right;
    background: rgb(223, 71, 231);
    color: white;
    box-shadow: 2px 2px 2px grey;
}
