* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(223, 71, 231);
}

a:hover {
    color: rgba(223, 71, 231, 0.35);
}

button,
.btn {
    cursor: pointer;
}

button:hover,
.btn:hover {
    background: rgba(223, 71, 231, 0.35);
}

input {
    cursor: text;
}

/* Login and register forms */

.login-title,
.register-title {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title h1,
.login-title h5,
.register-title h1,
.register-title h5 {
    margin: 20px 0;
}

.row {
    justify-content: center;
}

.form-control {
    margin-bottom: 20px;
}

.btn {
    float: right;
    background: rgb(223, 71, 231);
    color: white;
    box-shadow: 2px 2px 2px grey;
}

/* Navbar and alert messages*/
ul {
    list-style-type: none;
    margin-left: 1rem;
    font-size: larger;
}

.alert {
    margin: 20px 0;
    height: 60px;
}

.navbar {
    background: rgba(223, 71, 231, 0.35);
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    outline: none;
}

.navbar-light .navbar-toggler:hover {
    transform: scale(1.1);
    outline: none;
    background-color: rgba(223, 71, 231, 0.35);
}

/* Home page */
.greeting {
    text-align: center;
    color: rgb(125, 4, 131);
    margin: 20px 0;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.364);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px grey;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comments-date {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    color: grey;
}

.avatar-comment {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comments-date p {
    margin: 0;
}

.post:hover {
    transform: scale(1.01);
}

a .post {
    color: rgb(125, 4, 131);
    font-size: 1.5rem;
}

.post-link:hover {
    text-decoration: none;
    color: rgba(223, 71, 231, 0.35);
    cursor: pointer;
}
