{% extends "base.html" %}{% import "bootstrap/wtf.html" as wtf %} {% block
content %} {% if current_user.isAdmin %}
<div class="admin-view-link"><a href="/admin">Admin view</a></div>
<div class="extra">
    <h1 class="greeting">Hi, {{current_user.username }}!</h1>
</div>
{% else %}
<h1 class="greeting">Hi, {{current_user.username }}!</h1>
{% endif %} {% if posts %}
<!--<div class="sort-buttons">-->
<!--    <a-->
<!--        class="btn btn-default"-->
<!--        href="{{ url_for('sort', sort_by='popular') }}"-->
<!--        >Sort by popularity</a-->
<!--    >-->
<!--    <a class="btn btn-default" href="{{ url_for('sort', sort_by='newest') }}"-->
<!--        >Sort by date</a-->
<!--    >-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">{{ wtf.quick_form(form) }}</div>
    </div>
</div>

{% for post in posts %}
<div class="posts">
    <ul>
        <a href="{{url_for('post', id=post.id)}}" class="post-link">
            <li class="post">
                <div class="avatar-comment">
                    <div>
                        {% if post.title_html %} {{post.title_html | safe}} {%
                        else %}
                        <h1>{{post.title}}</h1>
                        {% endif %} {{(post.body_html | safe)[0:250]}} ...>>
                    </div>
                </div>
                <div class="comments-date">
                    <div class="comments-views">
                        {% if not post.views%}
                        <p>👁️‍🗨️ 0</p>
                        {% else %}
                        <p>👁️‍🗨️ {{post.views}}</p>
                        {% endif %}
                        <p>💬 {{post.get_comments_length()}}</p>
                    </div>
                    <p>Posted on</p>
                    <p>{{post.timestamp.strftime('%d/%m/%Y')}}</p>
                    by {{post.user.username}}

                    <a href="{{url_for('user', username=post.user.username)}}">
                        <img src="{{ post.user.get_avatar(64) }}"
                    /></a>
                </div></li
        ></a>
    </ul>
</div>
{% endfor %} {% else %}
<h4 class="greeting">No posts yet</h4>
<h4 class="greeting">Be the first to create a post</h4>
{% endif %} {% endblock %}
