{% extends "base.html" %}

    {% block content %}
    {% if current_user.isAdmin %}
        <p><a href="/admin">Admin view</a></p>
        {% endif %}
    <h1>Hi, {{current_user.username }}!</h1>
    {% if posts %}
    {% for post in posts %}
    <div>
        <p>
             <p>
            <img src="{{ post.user.get_avatar(20) }}"/>
            {{ post.user.username }} says: <b>{{ post.body }}</b>
        </p>
        </p>
    </div>
    {% endfor %}
    {% else %}
    <h4>Be the first to create a post</h4>
    {% endif %}
{% endblock %}
