{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}{% block
content %}
<h1 class="greeting">Update or delete post</h1>

<div class="container-fluid">
    <div class="row">
        <form
            action="{{url_for('delete_post', id=id)}}"
            method="post"
            novalidate
        >
            {{ delete_post_form.hidden_tag() }}
            <button class="btn btn-default" id="delete-post-button">
                {{ delete_post_form.submit() }}
            </button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            {{ wtf.quick_form(update_post_form) }}
        </div>
    </div>
</div>
<!-- <form action="{{url_for('update_post', id=id)}}" method="post" novalidate>
    {{ update_post_form.hidden_tag() }}
    <p>
        {{ update_post_form.post(cols=50, rows=4) }}<br />
        {% for error in update_post_form.post.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ update_post_form.submit() }}</p>
</form> -->

{% endblock %}
