{% extends "base.html" %}

{% block content %}
    <h4>{{post}} by {{post_author.username}}</h4>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.content.label }}<br>
            {{ form.content(cols=50, rows=4) }}<br>
            {% for error in form.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
             <p>{{ form.submit() }}</p>
        </div>
    </form>
    {% if comments %}
        <h2>Comments</h2>
        {% for comment in comments %}
            <p>
                <img src="{{ comment.user.get_avatar(20) }}"/>
                <b>{{ comment }} by {{ comment.user.username }} </b>
                {{comment.timestamp.strftime('%d/%m/%Y')}}</p>
        {% endfor %}
    {% else %}
        <h2>No comments yet</h2>
    {% endif %}
{% endblock %}
