{% extends "base.html" %}{% import "bootstrap/wtf.html" as wtf %} {% block
content %}


{% if post.title_html %}
    <div class="greeting">{{ post.title_html | safe}}</div>
{% else %}
    <div class="greeting">{{ post.title}}</div>
{% endif %}
<div class="date">
     <a href="{{url_for('main.user', username=post.user.username)}}"><img src="{{ post.user.get_avatar(20) }}"
    /> {{post_author.username}}'s
    post</a>
    <p>posted on {{post.timestamp.strftime('%d/%m/%Y')}}</p>
</div>
<div class="post-text">

    {% if post.body_html%}
        {{post.body_html | safe}}
    {% else %}
        {{post.body}}
    {% endif%}
{% if post_author == current_user%}
<a
        class="btn btn-default edit-button"
        href="{{ url_for('main.update_post', id=post.id) }}"
        >Edit</a
    >
{% endif%}

</div>
</br>
<hr>
</br>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

</br>
<hr>
</br>

{% if comments %}
<h2 class="greeting">Comments</h2>
{% for comment in comments %}
<div class="posts">
    <ul>
        <li class="post">
            <div class="avatar-comment">
                <img src="{{ comment.user.get_avatar(20) }}" />
                {{ comment }}
            </div>
            <div class="comments-date">
                <p>Posted on</p>
                <p>{{comment.timestamp.strftime('%d/%m/%Y')}}</p>
                <p>by {{ comment.user.username }}</p>
            </div>
        </li>
    </ul>
</div>
{% endfor %} {% endif %} {% endblock %}
