{% extends "base.html" %}{% import "bootstrap/wtf.html" as wtf %} {% block
content %}
<h1 class="greeting">
    <img src="{{ post_author.get_avatar(40) }}" /> {{post_author.username}}'s
    post
</h1>
<p class="comments-date">Posted on {{post.timestamp.strftime('%d/%m/%Y')}}</p>
<div class="post-text">

    {% if post.body_html%}
        {{post.body_html | safe}}
    {% else %}
        {{post.body}}
    {% endif%}
{% if post_author == current_user%}
<a
        class="btn btn-default edit-button"
        href="{{ url_for('update_post', id=post.id) }}"
        >Edit</a
    >
{% endif%}

</div>
</br>
<hr>
</br>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>

</br>
<hr>
</br>

{% if comments %}
<h2 class="greeting">Comments</h2>
{% for comment in comments %}
<div class="posts">
    <ul>
        <li class="post">
            <div class="avatar-comment">
                <img src="{{ comment.user.get_avatar(20) }}" />
                {{ comment }}
            </div>
            <p class="comments-date">
                Posted {{comment.timestamp.strftime('%d/%m/%Y')}} by {{
                comment.user.username }}
            </p>
        </li>
    </ul>
</div>
{% endfor %} {% endif %} {% endblock %}
