{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}{% block
content %}
<div class="avatar-username">
    <div class="avatar-username">
        <img src="{{ user.profile_image }}" width="128" height="128" />
        <div>
            <h1>{{ user.username }}</h1>
            {% if user.info %}
            <h2>{{user.info}}</h2>
            {% endif %}
        </div>
    </div>

    <div class="update-profile-link">
        <a href="{{ url_for('update_profile') }}">Update profile</a>
    </div>
</div>
<hr />
<h3 class="greeting">Create a new post</h3>
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
            {{ wtf.quick_form(form)}}
        </div>
    </div>
</div>

<hr />

{% if posts %}
<h2 class="greeting">{{user.username}}'s posts</h2>
{% for post in posts%}
<div class="posts">
    <ul>
        <a href="{{url_for('post', id=post.id)}}" class="post-link">
            <li class="post">
                <div class="avatar-comment">
                    <div>
                        {% if post.title_html %}
                            {{post.title_html | safe}}
                        {% else %}
                            <h1>{{post.title}}</h1>
                        {% endif %}
                        {{(post.body_html | safe)[0:250]}}...read more
                    </div>
                </div>
                <div class="comments-date">
                    <div class="comments-views">
                        {% if not post.views%}
                        <p>👁️‍🗨️ 0</p>
                        {% else %}
                        <p>👁️‍🗨️ {{post.views}}</p>
                        {% endif %}
                        <p>💬 {{post.get_comments_length()}}</p>
                    </div>
                    <p>Posted on {{post.timestamp.strftime('%d/%m/%Y')}}</p>
                </div>
            </li></a
        >
    </ul>
</div>
{% endfor%} {% endif %} {% endblock %}
