{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}{% block
content %}
<div class="avatar-username">
    <div class="avatar-username">
        <img src="{{ user.profile_image }}" width="128" height="128" />
        <div>
            <h1>{{ user.username }}</h1>
            {% if user.info %}
            <h2>{{user.info}}</h2>
            {% endif %}
        </div>
    </div>

    <div class="update-profile-link">
        <a href="{{ url_for('update_profile') }}">Update profile</a>
    </div>
</div>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
<!-- <div>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br />
            {{ form.post(cols=50, rows=4) }}<br />
            {% for error in form.post.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div> -->
<hr />

{% if posts %}
<h2 class="greeting">{{user.username}}'s posts</h2>
{% for post in posts%}
<div class="posts">
    <ul>
        <a href="{{url_for('update_post', id=post.id)}}" class="post-link">
            <li class="post">
                <div class="avatar-comment">
                    <img
                        src="{{ user.profile_image }}"
                        width="20"
                        height="20"
                    />
                    {% if post.body|length > 100 %} {{ post.body[0:100] }} ...
                    {%else %} {{ post.body }} {% endif %}
                </div>
                <div class="comments-date">
                    <p>💬 {{post.get_comments_length()}}</p>
                    <p>Posted on {{post.timestamp.strftime('%d/%m/%Y')}}</p>
                </div>
            </li></a
        >
    </ul>
</div>
{% endfor%} {% endif %} {% endblock %}
